#icon_jira { foreground-image:url(SyHybrid.scx#images\32\jira.png);}
#icon_github { foreground-image:url(SyHybrid.scx#images\32\github.png);}
#icon_email { foreground-image:url(SyHybrid.scx#images\32\email.png);}