body { height:370px; }
#icon_general { foreground-image:url(SyHybrid.scx#images\32\codescan.png);}
#icon_checks { foreground-image:url(SyHybrid.scx#images\32\check.png);}
#icon_mapping { foreground-image:url(SyHybrid.scx#images\32\codescan.png);}