body { height:420px; }
#icon_scan { foreground-image:url(SyHybrid.scx#images\32\codescan.png);}
#icon_tools { foreground-image:url(SyHybrid.scx#images\32\nettools.png);}

#btntargetlist { 
       margin-right:5px; 
       height:16px; 
       width:16px;
       foreground-image: url(SyHybrid.scx#images\16\code_bookmarks.png);
       foreground-repeat:no-repeat;
	   foreground-position: 50% 50%;
 }