body { height:370px; }
#icon_general { foreground-image:url(SyHybrid.scx#images\32\dynscan.png);}
#icon_checks { foreground-image:url(SyHybrid.scx#images\32\checks.png);}
#icon_emulation { foreground-image:url(SyHybrid.scx#images\32\emu.png);}
#icon_protocol { foreground-image:url(SyHybrid.scx#images\32\protocol.png);}
#icon_evasion { foreground-image:url(SyHybrid.scx#images\32\evasion.png);}
#icon_injection { foreground-image:url(SyHybrid.scx#images\32\injection.png);}
#icon_crawling { foreground-image:url(SyHybrid.scx#images\32\crawling.png);}
#icon_ignore { foreground-image:url(SyHybrid.scx#images\32\ignore.png);}