body { height:420px; }
#icon_scan { foreground-image:url(SyHybrid.scx#images\32\dynscan.png);}
#icon_sched { foreground-image:url(SyHybrid.scx#images\32\date.png);}
#icon_report { foreground-image:url(SyHybrid.scx#images\32\report.png);}
#icon_email { foreground-image:url(SyHybrid.scx#images\32\email.png);}

#btntargetlist { 
       margin-right:5px; 
       height:16px; 
       width:16px;
       foreground-image: url(SyHybrid.scx#images\16\dynamic_bookmarks.png);
       foreground-repeat:no-repeat;
	   foreground-position: 50% 50%;
 }

#btncodetargetlist { 
       margin-right:5px; 
       height:16px; 
       width:16px;
       foreground-image: url(SyHybrid.scx#images\16\code_bookmarks.png);
       foreground-repeat:no-repeat;
	   foreground-position: 50% 50%;
 }